* {
  box-sizing: border-box;
}


html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: white;
  font-family: 'Roboto', sans-serif;
}
.shopping-cart {
  width: 480px;
  height: 547px;
  margin: 80px auto;
  background: burlywood;
  box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
  border-radius: 0px;
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 80px;
  right: 180px;
}
.title {
  background: white;
  height: 60px;
  padding: 20px 30px;
  color: black;
  font-size: 18px;
  font-weight: 400;
  outline-color: white;
  outline-style: solid;
}
u{
  text-decoration-color: burlywood;
  text-decoration-thickness: 5px;
}
.item {
  padding: 20px 30px;
  height: 120px;
  display: flex;
}
/* .item:nth-child(3) {
  border-top:  1px solid #E1E8EE;
  border-bottom:  1px solid #E1E8EE;
} */
.image {
  margin-right: 50px;
}
.description {
  padding-top: 10px;
  margin-right: 60px;
  width: 100px;
}
/* .description span:first-child {
  margin-bottom: 5px;
}
.description span:last-child {
  font-weight: 300;
  margin-top: 8px;
  color: #86939E;
} */
.quantity {
  padding-top: 20px;
  margin-right: 0px;
}
.quantity input {
  -webkit-appearance: none;
  border: none;
  text-align: center;
  width: 30px;
  font-size: 16px;
  color: black;
  font-weight: 300;
}
.buttons {
  position: relative;
  padding-top: 30px;
  margin-right: 60px;
  border-color: burlywood;
}
.delete-btn {
  width: 12px;
  height: 15px;
  display: flex;
  Cursor: pointer;
  background: url("svg/delete.svg") no-repeat center;
  position: relative;
  top: 25px;
  left: 30px;
}
button[class*=btn] {
  width: 30px;
  height: 30px;
  background-color: burlywood;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}
.minus-btn img {
  width: 12px;
  height: 12px;
  margin-bottom: none;
}
.plus-btn img {
  width: 12px;
  height: 12px;
  margin-top: none;
}
@media (max-width: 800px) {
  .shopping-cart {
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  .item {
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
  }
  .image img {
    width: 50%;
  }
  .image,
  .quantity,
  .description {
    width: 100%;
    text-align: center;
    margin: 6px 0;
  }
  .buttons {
    margin-right: 20px;
  }
}
.submit {
  width: 250px;
  height: 480px;
  margin: 80px 20px;
  box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  float: right;
  position: relative;
  right: 390px;
  bottom: 95px;
  outline-color: burlywood;
}
.item1 {
  padding: 20px 30px;
  height: 240px;
  display: flex;
  font-size: large;
  font-weight: 500;
  line-height: 70px;
  background-color: burlywood;
  outline-color: burlywood;
  outline-style: solid;
}
.item2 {
  padding: 20px 30px;
  height: 240px;
  display: flex;
  font-size: large;
  font-weight: 500;
  line-height: 70px;
  background-color: white;
  outline-color: burlywood;
  outline-style: solid;
}
.form-control {
  outline-color: burlywood;
  height: 50px;
  width: 180px;
}
.total-btn {
background-color: black;
width: auto;
height: 40px;
font-size: larger;
color: white;
cursor: pointer;
}
.move-icon{
  width: 100px;
  height: 640px;
  margin: 80px 20px;
  background: black;
  box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  float: left;
  position: relative;
  bottom: 140px;
  left: 20px;
}
/* .h1 {
  display: flex;
  font-size: 20px;
} */
logo {
  color: burlywood;
  display: flex;
  font-size: 50px;
}
.icon {
  background-color: black;
  border: none;
}
.i {
  color: white;
}
footer{
  position: relative;
  left: 40px;
}